[submodule "themes/shan-xmin"]
	path = themes/shan-xmin
	url = https://github.com/shanmdphd/hugo-xmin
[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = https://github.com/yihui/hugo-xmin
